html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
  }
body {
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    text-align: center;
}
a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}
.flex {
    display: flex;
}
img {
    height: 200px;
    font-weight: auto;
    flex: 0 1, auto;
}

.header {
    justify-content: space-between;
    align-items: center;
    background-color: #BFE0FF;
    padding: 20px 50px;
    font-weight: 400;
    font-size: 30px;
    color: #3C332C;
}

.links {
    gap: 10px;
    font-size: 20px;
}

.round-draw{
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
}

.container {
    padding: 2em 50px;
}

.heading {
    justify-content: center;
    font-style: italic;
    font-weight: 700;
    font-size: 60px;
    margin-top: 1em;
}

.choices{
    justify-content: center;
    gap: 30px;
    padding-top: 2em;
    text-align: center;
}

.choice {
    flex-direction: column;
    gap: 10px;
    font-size: 30PX;
    cursor: pointer;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 203px;
    height: 245px;
}

.gap {
    margin: auto;
    margin-top: 4em;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 142px;
    width: 1479px;
    height: 259px;
}

.box{
    flex-direction: column;
    font-weight: 700;
    font-size: 30px;
    text-align: center;

    gap: 30px;

    align-items: center;

}


#result-container {
    display: flex;
    flex-direction: column;
}

#result {
    padding: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    height: 100px;
    color: #B2534D;
    text-decoration: underline;

}

.score {
    justify-content: space-around;
    height: 250px;
    padding-top: 3em;
    font-size: 30px;
    width: 616px;
    margin: auto;
    font-weight: 700;
    font-size: 30px;
}

#rock  {
    color: #E15451;
}

#paper {
    color: #3C553F;
}

#scissors {
    color: #497980;
}

#player-selection, #computer-selection {
    font-weight: 400;
    
}

#computer-score, #player-score {
    font-weight: 400;
    font-size: 70px;
}